*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url('./raphael2.jpg') ;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width:50vw;
    border-radius: 9px;
    background-color: rgba(4, 89, 247, 0.219);
    box-shadow: 0 0 10px rgb(11 15 11);
    background: linear-gradient(45deg,#0078ffa8,#588000de);
}
.div-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 10px 40px 10px;
    
    div{
        margin: 0 20px 0 20px;
        input,select{
            box-shadow: 0 0 10px rgb(11 15 11);
            height: 40px;
            border-radius: 9px;
            text-align: center;
            border:none;
            border:none;
            outline:none;
        }
        input{
            padding-right:1rem;
        }
        select{
            padding: 0 10px;
        }
    }
}
#div-result{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4d49494a;
    margin: 30px;

    height:5rem;
    border-radius:5px;
    box-shadow:0 0 9px rgb(11 15 11 / 77%);
    background:linear-gradient(60deg,#2d9906fa,#2903ccba);

    box-shadow:0 0 9px rgb(213 225 230);
    background:linear-gradient(120deg,#2ae913bd,#013377);

    p{
        color: rgb(247, 245, 248);
        /* border: 1px solid black; */
        width:100%;
        text-align:center;
    }
}
